In [1]:
#import pandas in jupyter noteBook environment:
import pandas

In [2]:
dataset = pandas.read_excel("diabetic.xlsx")

In [3]:
import pandas as pd

In [4]:
dataset = pd.read_excel("diabetic.xlsx")

In [5]:
dataset

,زيارات المراجعين لعيادات السكرى بمستشفيات وزارة الصحة حسب الجنس والجنسية والمنطقة عام 1439هـ (2018م),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,"Visits to Diabetic Clinics, MOH Hospitals b...",NaN,NaN,NaN,NaN,NaN,NaN
1,جدول 4-14,NaN,NaN,NaN,NaN,NaN,Table 4-14
2,المنطقة,Region,سعودي\nSaudi,NaN,غير سعودي\nNon-Saudi,NaN,الإجمالي
3,NaN,NaN,ذكر\nMale,أنثى\nFemale,ذكر\nMale,أنثى\nFemale,Total
4,الرياض,Riyadh,28084,39088,3249,3148,73569
5,مكة المكرمة,Makkah,31332,38587,4679,2923,77521
6,جدة,Jeddah,47093,39246,3562,1966,91867
7,الطائف,Ta`if,26152,27152,2341,1735,57380
8,المدينة المنورة,Medinah,21206,21337,1393,1128,45064
9,القصيم,Qaseem,26844,36516,1838,1504,66702
10,الشرقية,Eastern,12846,13306,2691,1047,29890
11,الأحساء,Al-Ahsa,4315,7301,91,94,11801
12,حفر الباطن,Hafr Al-Baten,5685,8763,356,135,14939
13,عسير,Aseer,16327,14452,327,185,31291
14,بيشة,Bishah,4282,5118,201,112,9713
15,تبوك,Tabouk,5228,7058,1073,407,13766
16,حائل,Ha`il,2605,3677,93,67,6442
17,الحدود الشمالية,Northern,46273,44648,1373,475,92769
18,جازان,Jazan,17622,18249,1791,1484,39146
19,نجران,Najran,6960,8748,1649,693,18050
20,الباحة,Al-Bahah,10227,11285,245,116,21873
21,الجوف,Al-Jouf,3829,5053,NaN,NaN,8882
22,القريات,Qurrayat,2694,3354,241,154,6443
23,القنفذة,Qunfudah,6246,7053,236,51,13586
24,المجموع,Total,325850,359991,27429,17424,730694